body {
    font: 15px Montserrat, sans-serif;
    font-size: 2vw;
    line-height: 1.8;
    color: #f5f6f7;
    min-height: 100vh;
    margin: 0;
}

p {
    font-size: 20px;
}

.margin {
    margin-bottom: 45px;
}

.bg-1 {
    background-image: url("../src/background.jpg");
    /* background-color: #1abc9c; */
    /* Green */
    color: #fff;
    background-position: center;
    /* Center the image */
    background-size: cover;
    /* Resize the background image to cover the entire container */
}

.bg-2 {
    background-color: #474e5d;
    /* Dark Blue */
    color: #ffffff;
}

.bg-3 {
    background-color: #ffffff;
    /* White */
    color: #555555;
}

.bg-4 {
    background-color: #2f2f2f;
    /* Black Gray */
    color: #fff;
}

.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}

.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}

.navbar-nav li a:hover {
    color: #1abc9c !important;
}

mark {
    background-color: #fff;
    color: #000;
}

html {
    scroll-behavior: smooth
}

.container-fluid.active {
    /*On screen blur for when the popup appears*/
    filter: blur(20px);
}

#project-header {
    color: #000;
}

.content.active {
    /*On screen blur for when the popup appears*/
    filter: blur(20px);
}

#projectMenu {
    /*The popup menu when it doesn't exist*/
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    padding: 50px;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.30);
    background: #ffffff;
    color: #000;
}

#projectMenu.active {
    /*The CSS for an active popup screen*/
    top: 50%;
    visibility: visible;
    opacity: 1;
    transition: 0.3s;

}

.project:hover {
    background-color: #1abc9c;
    cursor: pointer;
}

#project-div {
    background-image: url("../src/background2.jpg");
    /* background-color: #1abc9c; */
    color: #fff;
    background-position: center;
    /* Center the image */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.navbar {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}

#contact {
    color: #000;
    background-color: #fff;
    margin: auto;
    width: 40%;
}

.contact-body {
    background-image: url("../src/background3.jpg");
    color: #fff;
    background-position: center;
    /* Center the image */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}